<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MudDude1.MudDude1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <MudDude1.MudDude1>
            <setting name="STRING_SERVER_IP" serializeAs="String">
                <value>10.0.1.1</value>
            </setting>
            <setting name="INT_SERVER_PORT" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="STRING_USERID" serializeAs="String">
                <value>themudbot</value>
            </setting>
            <setting name="STRING_PASSWORD" serializeAs="String">
                <value>thembpass</value>
            </setting>
            <setting name="STRING_LOGIN_USERNAME" serializeAs="String">
                <value>user</value>
            </setting>
            <setting name="STRING_LOGIN_PASSWORD" serializeAs="String">
                <value>assword</value>
            </setting>
            <setting name="STRING_PAUSE_STRING" serializeAs="String">
                <value>(N)onstop, (Q)uit, or (C)ontinue?</value>
            </setting>
            <setting name="STRING_TOP_MENU" serializeAs="String">
                <value>(TOP)</value>
            </setting>
            <setting name="CHAR_TRIGGER" serializeAs="String">
                <value>@</value>
            </setting>
            <setting name="CHAR_TRIGGER2" serializeAs="String">
                <value>!</value>
            </setting>
            <setting name="STRING_GO_COMMAND" serializeAs="String">
                <value>/go mmud</value>
            </setting>
            <setting name="STRING_CLEANUP" serializeAs="String">
                <value>Please finish up and log off</value>
            </setting>
            <setting name="INT_CLEANUP_DURATION" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="IS_FIRST_RUN" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="INT_EVILPOINTS_FOR_EVIL" serializeAs="String">
                <value>100</value>
            </setting>
        </MudDude1.MudDude1>
    </userSettings>
</configuration>